body{
font-family: roboto, arial;
margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 100px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

.hero-subtext,
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero{
    background-color: #1f2937;
    padding: 0 400px 60px;
    margin: 0;
}

.image-holder{
    width: 500px;
    height: 250px;
    flex: 0 1 auto;
}

.image-holder img{
    width: 100%;
    height: 100%;
}

.hero-text-section{
    display: flex;
    gap: 180px;
    margin-bottom: 100px;
}

.hero-text{
    flex: 0 1 auto;
    max-width: 450px;
}

.hero-heading{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 50px;
    color: #1f2937;
}

.border{
    width: 166px;
    height: 166px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.border img{
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
}

.items{
    width: 166px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 150px;
}

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    width: 100%;
    height: 500px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.credit{
    font-weight: bold;
    font-size: 20px;
    color: #1f2937;
}

.cta-section{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 40px 80px;
}

.cta-content{
    display: flex;
    gap: 80px;
}

.cta-title{
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}

.cta-subtext{
    color: #e5e7eb;
}
