body{
font-family: roboto, arial;
margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 100px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

.hero-subtext,
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero{
    background-color: #1f2937;
    padding: 0 400px 60px;
    margin: 0;
}

.image-holder{
    min-width: 500px;
    height: 250px;
    flex: 0 0 auto;
}

.image-holder img{
    width: 100%;
    height: 100%;
}

.hero-text-section{
    display: flex;
    gap: 180px;
    margin-bottom: 100px;
}

.hero-text{
    flex: auto;
}

.hero-heading{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

