body{
font-family: roboto, arial;
margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero{
    background-color: #1f2937;
    padding: 0 250px;
    margin: 0;
}